.main-header {
  position: relative;
  height: 56px;
}

.main-header__logo {
  display: block;
  height: 96px;
  width: 185px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-header__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}

