.main-footer {
  padding: 41px 0 34px;
  text-align: center;
  text-transform: uppercase;

  &--catalog {
    padding: 33px 0;
  }

  @media (min-width: @tablet-width) {
    padding: 36px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 120px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.main-footer__tab {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

