@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ptsans.woff2") format("woff2"), url("../../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/ptsansbold.woff2") format("woff2"), url("../../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.button {
  font-family: inherit;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  border: none;
}
.heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .heading {
    font-size: 21px;
  }
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
  background-color: #e7e5e5;
}
.page__body {
  margin: 0;
}
.page__wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1200px;
  background-color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.main-header {
  position: relative;
}
.main-header__logo {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: 96px;
  width: 185px;
  margin: 0 auto;
  z-index: 10;
}
@media (min-width: 768px) {
  .main-header__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.main-nav {
  position: relative;
  width: 100%;
  min-height: 56px;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-nav--opened .main-nav__list {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  z-index: 10;
  background-color: #81b3d2;
}
.main-nav--opened .main-nav__list::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.main-nav__link {
  padding: 17px 52px 12px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background-image: url("../img/icons/icon-menu.svg");
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
.main-nav--opened .main-nav__toggle {
  width: 22px;
  height: 22px;
  z-index: 15;
  background-color: #81b3d2;
  background-image: url(../img/icons/icon-nav-cross.svg);
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .main-nav__list::after {
    content: "";
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .main-nav__link {
    padding: 18px 0 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}
.welcome {
  background-color: #a7cbd5;
  position: relative;
  height: 389px;
}
.welcome::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 57px;
  background: url(../img/welcome-triangle.png) no-repeat center bottom;
}
@media (min-width: 768px) {
  .welcome {
    height: 518px;
  }
}
.welcome__background {
  display: block;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .welcome__background {
    height: 518px;
  }
}
.welcome__image {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: block;
  margin: 0 auto;
}
.advantages {
  padding-top: 32px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages {
    padding-top: 47px;
  }
}
.advantages__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  max-width: 520px;
  margin: 0 18px 35px;
}
@media (min-width: 768px) {
  .advantages__slogan {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .advantages__slogan {
    margin: 0 0 35px;
  }
}
.advantages__intro {
  margin: 0 18px 16px;
}
@media (min-width: 768px) {
  .advantages__intro {
    margin: 0 0 56px;
  }
}
.advantages__pack {
  color: #ffffff;
  background-color: #81B3D2;
  padding: 37px 18px;
}
.advantages__pack--first {
  padding: 70px 0 40px;
}
@media (min-width: 768px) {
  .advantages__pack {
    padding: 52px 33px 31px;
  }
}
.advantages__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.advantages__list::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 37px;
  background: url(../img/advantages-triangle.png) no-repeat center top;
}
.advantages__image {
  display: block;
  object-fit: cover;
  width: 100%;
}
.advantages__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 17px;
}
@media (min-width: 768px) {
  .advantages__subtitle {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .advantages__subtitle {
    width: 150px;
    margin: 0 auto 17px;
  }
}
.advantages__number {
  display: block;
  margin-bottom: 17px;
}
.advantages__description {
  margin: 0 18px;
}
@media (min-width: 768px) {
  .advantages__description {
    margin: 0;
  }
}
.advantages__item--grey {
  padding: 24px 0;
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}
.advantages__item--grey:last-child {
  border: none;
}
@media (min-width: 768px) {
  .advantages__item--grey {
    padding: 41px 33px;
    border: none;
  }
}
@media (min-width: 768px) {
  .advantages__item--service {
    grid-column: 1/-1;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .advantages__image {
    grid-column: span 2;
  }
  .advantages__image--bridge {
    order: -1;
  }
  .advantages__item--blue {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.service {
  padding: 23px 18px 13px;
  text-align: left;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .service {
    grid-column: 1/-1;
    padding: 0;
  }
}
.service__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.service__item {
  margin-bottom: 25px;
  padding: 8px 0 0 47px;
}
@media (min-width: 768px) {
  .service__item {
    margin: 0;
    text-align: center;
  }
}
.service__item--house {
  background-image: url("../img/icons/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  .service__item--house {
    padding: 158px 33px 60px;
    background-position: center top 60px;
    background-size: 77px 72px;
  }
}
.service__item--food {
  background-image: url("../img/icons/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  .service__item--food {
    padding: 156px 33px 61px;
    background-position: center top 62px;
    background-size: 80px 68px;
  }
}
.service__item--gift {
  background-image: url("../img/icons/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  .service__item--gift {
    padding: 153px 33px 64px;
    background-position: center top 64px;
    background-size: 66px 75px;
  }
}
.service__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 16px;
}
@media (min-width: 768px) {
  .service__subtitle {
    font-size: 21px;
  }
}
.service__description {
  margin: 0;
}
.hotel-search {
  padding: 38px 18px 49px;
  text-transform: uppercase;
  text-align: center;
}
.hotel-search__title {
  margin: 0 0 34px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.hotel-search__description {
  display: inline-block;
  max-width: 438px;
  margin: 0 0 32px;
}
.hotel-search__button {
  display: block;
  margin: 0 auto;
  padding: 16px 49px;
  width: 284px;
}
@media (min-width: 768px) {
  .hotel-search {
    padding: 60px 0 55px;
  }
  .hotel-search__title {
    font-weight: 700;
    font-size: 30px;
  }
  .hotel-search__description {
    margin-bottom: 44px;
  }
  .hotel-search__button {
    display: block;
    margin: 0 auto;
    padding: 14px 121px 18px;
    width: 458px;
  }
}
.map__iframe {
  display: block;
  border: none;
  width: 100%;
}
.main-footer {
  padding: 33px 0 34px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-footer {
    padding: 36px 60px;
  }
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    align-items: center;
  }
}
.main-footer__tab {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .main-footer__tab {
    margin: 0;
  }
}
.social {
  max-width: 220px;
  margin: 0 auto;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.social__link {
  display: flex;
  width: 48px;
  height: 48px;
  margin: 0 6px 6px 0;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .social__link {
    margin: 0 6px 0 0;
  }
}
.social__icon {
  margin: auto;
}
.copyright {
  display: flex;
  margin: 24px auto 0;
}
@media (min-width: 768px) {
  .copyright {
    margin: 0;
  }
}
.copyright__link {
  width: 27px;
  height: 35px;
}
.copyright__text {
  margin: auto 7px;
  margin-left: 0;
}
@media (min-width: 768px) {
  .copyright__text {
    margin: auto;
    margin-right: 12px;
  }
}
.intro-case {
  position: relative;
  background-color: #a7cbd5;
  height: 158px;
}
.intro-case::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 57px;
  background: url(../img/welcome-triangle.png) no-repeat center bottom;
}
@media (min-width: 768px) {
  .intro-case {
    height: 290px;
  }
}
.intro-case__background {
  display: block;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .intro-case__background {
    height: 290px;
  }
}
.intro-case__image {
  position: absolute;
  top: 57px;
  right: 0;
  left: 0;
  margin: auto;
}
@media (min-width: 768px) {
  .intro-case__image {
    top: 95px;
  }
}
.feedback {
  padding: 36px 0 22px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .feedback {
    padding: 64px 60px;
  }
}
.feedback__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 20px 24px;
}
@media (min-width: 768px) {
  .feedback__title {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .feedback__title {
    margin: 0 0 20px;
    font-size: 30px;
  }
}
.feedback__text {
  display: inline-block;
  max-width: 435px;
  margin: 0 20px 28px;
}
@media (min-width: 768px) {
  .feedback__text {
    margin: 0 0 108px;
  }
}
.feedback-form {
  padding: 24px 0 0;
  border-top: 1px solid #E5E5E5;
}
@media (min-width: 768px) {
  .feedback-form {
    padding: 0;
    border: none;
  }
}
@media (min-width: 768px) {
  .feedback-form__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 63px;
    gap: 58px;
  }
  .feedback-form__wrapper::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
    left: calc(50% - 1px/2);
    top: calc(50% - 338px/2);
  }
}
.feedback-form__group {
  position: relative;
  margin: 0 0 24px;
  padding: 0 20px 24px;
  border: none;
  border-bottom: 1px solid #E5E5E5;
}
.feedback-form__group--emotion {
  border: none;
}
@media (min-width: 768px) {
  .feedback-form__group {
    margin: 0 0 48px;
    padding: 0;
    border: none;
  }
  .feedback-form__group::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
  }
}
.feedback-form__group--text {
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .feedback-form__group--text {
    margin: 0;
    padding: 0;
  }
  .feedback-form__group--text::before {
    content: none;
  }
}
@media (min-width: 768px) {
  .feedback-form__group:nth-child(3) {
    margin-bottom: 42px;
  }
}
.feedback-form__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .feedback-form__subtitle {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .feedback-form__subtitle {
    margin-bottom: 28px;
  }
  .feedback-form__subtitle--accend {
    position: relative;
    width: 402px;
    box-sizing: border-box;
    padding: 0 30px;
    background-color: #ffffff;
    z-index: 5;
  }
}
.feedback-form__label {
  text-align: left;
  margin-left: 16px;
}
.feedback-form__label--bold {
  display: flex;
  gap: 16px;
  margin: 0;
  align-items: center;
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.feedback-form__item {
  display: flex;
  flex-direction: column;
}
.feedback-form__case {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .feedback-form__case {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}
.feedback-form__button {
  width: 100%;
  max-width: 324px;
  padding: 16px 0;
}
.feedback-form__remark {
  align-self: flex-end;
  margin: 3px 0 0;
}
@media (min-width: 768px) {
  .feedback-form__remark {
    align-self: center;
    margin: 0;
  }
}
.form-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}
@media (min-width: 768px) {
  .form-list--radio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 36px;
  }
  .form-list--checkbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin: 0 84px;
  }
}
.field-text {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  width: 100%;
  border: none;
}
.field-text--phone {
  padding-right: 70px;
  background: url("../img/icons/field-phone-icon.svg") no-repeat right;
  background-color: #f2f2f2;
  background-size: 58px 58px;
}
.field-text--email {
  padding-right: 70px;
  background: url("../img/icons/field-email-icon.svg") no-repeat right;
  background-color: #f2f2f2;
  background-size: 58px 58px;
}
.field-text--textarea {
  resize: none;
  max-width: 768px;
  height: 150px;
}
.field-text::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.radio-marker {
  display: block;
  position: relative;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.feedback-form__control:checked + .radio-marker::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}
.checkbox-marker {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.photo-gallery {
  padding: 37px 0 0;
}
@media (min-width: 768px) {
  .photo-gallery {
    padding: 66px 0 0;
  }
}
@media (min-width: 1200px) {
  .photo-gallery {
    padding: 100px 0 0;
  }
}
.photo-gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px;
}
@media (min-width: 768px) {
  .photo-gallery__title {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .photo-gallery__title {
    margin-bottom: 51px;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }
}
.photo-gallery__text {
  margin: 0 auto 30px;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: center;
  max-width: 458px;
}
@media (min-width: 768px) {
  .photo-gallery__text {
    padding: 0;
    margin-bottom: 67px;
  }
}
@media (min-width: 1200px) {
  .photo-gallery__text {
    margin-bottom: 72px;
  }
}
.photo-gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .photo-gallery__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .photo-gallery__list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}
.photo-gallery__item {
  position: relative;
  padding: 24px 20px 25px;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .photo-gallery__item {
    padding: 0;
    border: none;
  }
  .photo-gallery__item:first-child {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  .photo-gallery__item:first-child {
    grid-column: span 3;
  }
}
.photo-gallery__image {
  display: block;
  margin: 0 auto;
  height: 280px;
}
@media (min-width: 768px) {
  .photo-gallery__image {
    margin: 0;
    width: 100%;
  }
}
.photo-gallery__container {
  box-sizing: border-box;
  padding: 15px 0 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .photo-gallery__container {
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
    flex-direction: row;
    justify-content: space-between;
  }
  .photo-gallery__container--other-color {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .photo-gallery__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.photo-gallery__description {
  margin: 0 0 3px;
  font-weight: 700;
  text-transform: uppercase;
}
.photo-gallery__wrapper {
  margin: 0 0 11px;
}
@media (min-width: 768px) {
  .photo-gallery__wrapper {
    margin: 0;
  }
}
.photo-gallery__author {
  margin: 0;
}
.like-rating {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .like-rating {
    margin-bottom: 12px;
  }
}
.like-rating__button {
  padding: 0;
  border: none;
  margin: 0 14px 0 0;
  background-color: inherit;
  cursor: pointer;
}
.like-rating__icon {
  fill: #000000;
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .like-rating__icon {
    fill: #ffffff;
    opacity: 1;
  }
}
.like-rating__counter {
  font-weight: 700;
}
.video-content {
  padding: 17px 20px 0;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .video-content {
    padding: 58px 60px 40px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .video-content {
    padding: 62px 0 84px;
  }
}
.video-content__title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .video-content__title {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .video-content__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }
}
.video-content__text {
  max-width: 445px;
  margin: 0 auto 38px;
}
.video-content__image {
  display: block;
  height: 177px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video-content__image {
    height: 687px;
    width: 100%;
    max-width: 800px;
  }
}
/*# sourceMappingURL=style.css.map */
