.advantages {
  padding-top: 32px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__slogan {
  .heading;
  width: 284px;
  margin: 0 auto;
}

.advantages__intro {
  width: 284px;
  margin: 35px auto 32px;
}

.advantages__list {
  .reset-list;
}

.advantages__pack {
  padding: 37px 18px;
}

.advantages__pack--first {
  padding: 54px 0 40px;
}

.advantages__pack {
  color: #ffffff;
  background-color: #81B3D2;
}

.advantages__subtitle {
  .heading;
  margin: 0;
  margin-bottom: 49px;
}

