.welcome {
  background-color: #a7cbd5;
  position: relative;
}

.welcome__background {
  display: block;
  width: 100%;
}

.welcome__image {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: block;
  margin: 0 auto;
}
