.user-contacts {
  margin: 24px 0 0;
  padding: 0 20px 34px;
}

.user-contacts__list {
  .reset-list;
}

.user-contacts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.user-contacts__item:last-child {
  margin: 0;
}

.user-contacts__label {
  text-align: left;
  margin-left: 16px;
}

.user-contacts__field {
  padding: 16px;
  width: 100%;

  &--phone {
    background-image: url("../img/icons/field-phone-icon.svg");
    background-repeat: no-repeat;
    background-size: 58px 58px;
    background-position: right;
  }

  &--email {
    background-image: url("../../../img/icons/field-email-icon.svg");
    background-repeat: no-repeat;
    background-size: 58px 58px;
    background-position: right;
  }
}

.user-contacts__field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
